@page "/day16"
@using April.Problems
@using global::Shared.Helpers

<h4 class="mb-3">
    <a href="@_problem.Url" target="_blank" class="ml-md-auto">@_problem.Title</a>
</h4>

<div class="mb-3">
    <label for="Input" class="form-label">Input</label>
    <input type="text" @bind="Input" class="form-control" id="Input" placeholder='deeedbbcccbdaa'>
</div>
<div class="mb-3">
    <label for="k" class="form-label">K</label>
    <input type="text" @bind="K" class="form-control" id="k" placeholder='3'>
</div>
<div class="mb-3">
    <label class="form-label">Constraints</label>
    <ul>
        <li><code>1 &lt;= Input.Length &lt;= 10<sup>5</sup></code></li>
        <li><code>2 &lt;= K &lt;= 10<sup>4</sup></code></li>
        <li><code>Input</code> only contains lower case English letters.</li>
    </ul>
</div>
<div class="mb-3">
    <label class="form-label">Output: <code>@Output</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Run">Run</button>
</div>

@code {
    private string Input { get; set; }
    private string K { get; set; }
    private string Output { get; set; }

    readonly RemoveAllAdjacentDuplicatesInString2 _problem = new RemoveAllAdjacentDuplicatesInString2();

    private void Run()
    {
        if (int.TryParse(K, out var k))
        {
            Output = _problem.RemoveDuplicates(Input, k);
        }
        else
        {
            Output = Messages.InvalidInput;
        }
    }
}