@page "/day7"
@using April.Problems

<h4 class="mb-3">
    <a href="@problem.Url" target="_blank" class="ml-md-auto">@problem.Title</a>
</h4>

<div class="mb-3">
    <label for="Input" class="form-label">Input</label>
    <input type="text" @bind="Input" class="form-control" id="Input" placeholder="book">
</div>
<div class="mb-3">
    <label class="form-label">Constraints</label>
    <ul>
        <li><code>2 &lt;= Input.Length &lt;= 1000</code></li>
        <li><code>Input.Length</code> is even.</li>
        <li><code>Input</code> consists of <strong>uppercase and lowercase</strong> letters.</li>
    </ul>
</div>
<div class="mb-3">
    <label class="form-label">Output: <code>@Output</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Run">Run</button>
</div>

@code {
    private string Input { get; set; }
    private string Output { get; set; }

    readonly DetermineIfStringHalvesAreAlike problem = new DetermineIfStringHalvesAreAlike();

    private void Run()
    {
        try
        {
            Output = problem.HalvesAreAlike(Input).ToString();
        }
        catch (Exception ex)
        {
            Output = ex.Message;
        }
    }
}