@page "/day9"
@using April.Problems
@using global::Shared.Helpers

<h4 class="mb-3">
    <a href="@_problem.Url" target="_blank" class="ml-md-auto">@_problem.Title</a>
</h4>

<div class="mb-3">
    <label for="words" class="form-label">Words</label>
    <input type="text" @bind="Words" class="form-control" id="words" placeholder='["hello","leetcode"]'>
</div>
<div class="mb-3">
    <label for="order" class="form-label">Order</label>
    <input type="text" @bind="Order" class="form-control" id="order" placeholder="hlabcdefgijkmnopqrstuvwxyz">
</div>
<div class="mb-3">
    <label class="form-label">Constraints</label>
    <ul>
        <li><code>1 &lt;= Words.Length &lt;= 100</code></li>
        <li><code>1 &lt;= Words[i].Length &lt;= 20</code></li>
        <li><code>Order.Length == 26</code></li>
        <li>All characters in <code>Words[i]</code> and <code>order</code> are English lowercase letters.</li>
    </ul>
</div>
<div class="mb-3">
    <label class="form-label">Output: <code>@Output</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Run">Run</button>
</div>

@code {
    private string Words { get; set; }
    private string Order { get; set; }
    private string Output { get; set; }

    readonly VerifyingAnAlienDictionary _problem = new VerifyingAnAlienDictionary();

    private void Run()
    {
        try
        {
            var words = DataConverter.ConvertStringToStringArray(Words);
            Output = _problem.IsAlienSorted(words, Order).ToString();
        }
        catch (Exception ex)
        {
            Output = ex.Message;
        }
    }
}