@page "/day8"
@using February.Problems

<h4 class="mb-3">
    <a href="@problem.Url" target="_blank" class="ml-md-auto">@problem.Title</a>
</h4>
@code {
    PeekingIterator1 problem = new PeekingIterator1();
}