@page "/day16"
@using January.Problems

<h4 class="mb-3">
    <a href="@problem.Url" target="_blank" class="ml-md-auto">@problem.Title</a>
</h4>
<div class="mb-3">
    <label for="input" class="form-label">Input</label>
    <input type="text" @bind="Input" class="form-control" id="input" placeholder="[3,2,3,1,2,4,5,5,6]">
</div>
<div class="mb-3">
    <label for="k" class="form-label">Input</label>
    <input type="text" @bind="K" class="form-control" id="k" placeholder="4">
</div>
<div class="mb-3">
    <label class="form-label">Output: <code>@Output</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Run">Run</button>
</div>

@code {
    private string Input { get; set; }
    private string K { get; set; }
    private string Output { get; set; }

    KthLargestElementInAnArray problem = new KthLargestElementInAnArray();

    private void Run()
    {
        Output = problem.FindKthLargestByUsingHeap(Input, K);
    }
}