@page "/"

<h4 class="mb-3">
    <a href="https://leetcode.com/explore/challenge/card/january-leetcoding-challenge-2021/579/week-1-january-1st-january-7th/3589/" target="_blank" class="ml-md-auto">Check Array Formation Through Concatenation</a>
</h4>

<div class="mb-3">
    <label for="targetArray" class="form-label">Target Array</label>
    <input type="text" class="form-control" id="targetArray" placeholder="[91,4,64,78]">
</div>
<div class="mb-3">
    <label for="pieces" class="form-label">Pieces</label>
    <input type="text" class="form-control" id="pieces" placeholder="[[78],[4,64],[91]]">
</div>
<div class="mb-3">
    <label class="form-label">Constraints</label>
    <ul>
        <li><code>1 &lt;= pieces.length &lt;= arr.length &lt;= 100</code></li>
        <li><code>sum(pieces[i].length) == arr.length</code></li>
        <li><code>1 &lt;= pieces[i].length &lt;= arr.length</code></li>
        <li><code>1 &lt;= arr[i], pieces[i][j] &lt;= 100</code></li>
        <li>The integers in&nbsp;<code>arr</code>&nbsp;are <strong>distinct</strong>.</li>
        <li>The integers in&nbsp;<code>pieces</code> are <strong>distinct</strong>&nbsp;(i.e., If we flatten pieces in a 1D array, all the integers in this array are distinct).</li>
    </ul>
</div>
<div class="mb-3">
    <label class="form-label">Output</label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3">Run</button>
</div>

@code {

}