@page "/day15"
@using March.Problems
@using global::Shared.Helpers

<h4 class="mb-3">
    <a href="@problem.Url" target="_blank" class="ml-md-auto">@problem.Title</a>
</h4>
<div class="mb-3">
    <blockquote>Note: This is a companion problem to the <a href="https://leetcode.com/discuss/interview-question/system-design/" target="_blank">System Design</a> problem: <a href="https://leetcode.com/discuss/interview-question/124658/Design-a-URL-Shortener-(-TinyURL-)-System/" target="_blank">Design TinyURL</a>.</blockquote>

    <p>TinyURL is a URL shortening service where you enter a URL such as <code>https://leetcode.com/problems/design-tinyurl</code> and it returns a short URL such as <code>http://tinyurl.com/4e9iAk</code>.</p>

    <p>Design the <code>encode</code> and <code>decode</code> methods for the TinyURL service. There is no restriction on how your encode/decode algorithm should work. You just need to ensure that a URL can be encoded to a tiny URL and the tiny URL can be decoded to the original URL.</p>
</div>

<div class="mb-3">
    <label for="longurl" class="form-label">Long URL</label>
    <input type="text" @bind="LongUrl" class="form-control" id="longurl" placeholder="https://leetcode.com/problems/design-tinyurl">
</div>
<div class="mb-3">
    <label class="form-label">Encoded URL: <code>@LongUrlResult</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Encode">Encode</button>
</div>

<div class="mb-3">
    <label for="shortUrl" class="form-label">Short URL</label>
    <input type="text" @bind="ShortUrl" class="form-control" id="shortUrl" placeholder="2">
</div>
<div class="mb-3">
    <label class="form-label">Decoded URL: <code>@ShortUrlResult</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Decode">Decode</button>
</div>

@code {
    private string LongUrl { get; set; }
    private string ShortUrl { get; set; }
    private string ShortUrlResult { get; set; }
    private string LongUrlResult { get; set; }

    EncodeAndDecodeTinyUrl problem = new EncodeAndDecodeTinyUrl();

    private void Encode()
    {
        LongUrlResult = problem.Encode(LongUrl);
    }

    private void Decode()
    {
        ShortUrlResult = problem.Decode(ShortUrl);
    }
}