@page "/day19"
@using March.Problems
@using global::Shared.Helpers

<h4 class="mb-3">
    <a href="@_problem.Url" target="_blank" class="ml-md-auto">@_problem.Title</a>
</h4>

<div class="mb-3">
    <label for="input" class="form-label">Rooms</label>
    <input type="text" @bind="Rooms" class="form-control" id="input" placeholder="[[1],[2],[3],[]]">
</div>
<div class="mb-3">
    <label class="form-label">Constraints</label>
    <ol>
        <li><code>1 &lt;= Rooms.Length &lt;=&nbsp;1000</code></li>
        <li><code>0 &lt;= Rooms[i].length &lt;= 1000</code></li>
        <li>The number of keys in all rooms combined is at most&nbsp;<code>3000</code>.</li>
    </ol>
</div>
<div class="mb-3">
    <label class="form-label">Output: <code>@Output</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Run">Run</button>
</div>

@code {
    private string Rooms { get; set; }
    private string Output { get; set; }

    readonly KeysAndRooms _problem = new KeysAndRooms();

    private void Run()
    {
        try
        {
            var input = DataConverter.ConvertStringToNestedList(Rooms);
            Output = _problem.CanVisitAllRooms(input).ToString();
        }
        catch (Exception ex)
        {
            Output = ex.Message;
        }
    }
}