@page "/day27"
@using March.Problems

<h4 class="mb-3">
    <a href="@_problem.Url" target="_blank" class="ml-md-auto">@_problem.Title</a>
</h4>

<div class="mb-3">
    <label for="input" class="form-label">Input</label>
    <input type="text" @bind="Input" class="form-control" id="input" placeholder="aaa">
</div>
<div class="mb-3">
    <label class="form-label">Constraints</label>
    <ul>
        <li>The input string length won't exceed 1000</li>
    </ul>
</div>
<div class="mb-3">
    <label class="form-label">Output: <code>@Output</code></label>
</div>

<div class="mb-3">
    <button class="btn btn-primary mb-3" @onclick="Run">Run</button>
</div>

@code {
    private string Input { get; set; }
    private string Output { get; set; }

    readonly PalindromicSubstrings _problem = new PalindromicSubstrings();

    private void Run()
    {
        Output = _problem.CountSubstrings(Input).ToString();
    }
}